body {
    background-color: #cde8f6;
}
hr {
    border:none;
    border-top:6px dotted #f2eeff;
    background-color:#cde8f6;
    width:65%;
}


}
img:hover {
    opacity: .5;
}
p1 {
    color: #310080;
    font-family: DidactGothic-Regular;
}
h2 {
    color:#4c00ff;
}
h3 {
    color:#4c00ff;
}
h4 {
    color:#4c00ff;
}